.editTeamButtons{
  margin-top: 4%;
  padding-left: 35%;
}

.editTeamButton{
  margin-left: 10%;
}


#load-new-team-logo-area{
  padding-left:17%;
}

#load-new-team-logo{
  margin: auto;
}

.edit-team-row{
  padding-bottom: 2%;
}

.edit-players-row{
  padding-bottom: 2%;
}

.color-picker{
  width:80%
}

#new-player-button-area{
  padding-left: 28.4%;
}

#new-player-button{
  text-align: center;
  width: 60.7%;
}

#edit-player-img{
  width: 150%;
  height: 90%;
}

#load-new-player-img-area{
  padding-left:42%;
  padding-top:7%;
}

#load-new-player-img-hidden{
  display: none;
}

#load-new-team-logo-hidden{
  display: none;
}


#playerParameters{
  padding-left:12%;
  padding-top:3%;
}

#positions-input-area{
  padding-top: 40px;
}

#title-position-offense-input{
  padding-left: 80px;
}

#title-position-defense-input{
  padding-left: 30px;
}

.column-buttons{
  height: 20%;
}

.row-buttons{
  width: 20%;
}

.row-2-elements{
  padding-left: 26%;
}

#error-edit-team{
  color: red;
  text-align: center;
/*  font-size: 32px;*/
}

#error-edit-player{
  color: red;
  text-align: center;
/*  font-size: 32px;*/
}

.btn-highlight{
  background-color: rgb(120,150,150) !important;
}

.button-edit-player-position{
  display: none;
}

.button-edit-player-position:focus{
 outline: none;
 box-shadow: 0 0 0 0rem rgba(0,0,0,0) !important;
}

.button-edit-player-position:hover{
 background-color: rgba(0, 0, 0, 0);
 border-color: rgba(0, 0, 0, 0);
}

#confirmDeletePlayerMessage{
/*  font-size: 32px;*/
  font-weight: bold;
  text-align: center;
}

@media (max-width: 500px){
  .error-message{
    margin: auto;
/*    font-size: 20px;*/
    font-weight: normal;
    text-align: justify;
  }
  #standard_beta_version_message{
    font-weight: bold;
  }
}

@media (min-width: 500px){
  .error-message{
    margin: auto;
/*    font-size: 30px;*/
    font-weight: normal;
    text-align: justify;
  }
  #standard_beta_version_message{
    font-weight: bold;
  }
}
