
@media (min-width: 200px){
  .instructions{
/*    font-size: 14px;*/
    height: 96vh;
  }
  .instructions .modal-body{
    padding-bottom: 0px !important;
  }
    .instructions .header{
/*      font-size: 18px;
      height: 8vh;*/
    }
      .instructions .header .slide{
/*        padding-left: 5vw;
        font-size: 20px;
        text-align: right;*/
      }
    .instructions .title{
/*      font-size: 16px;
      padding-left: 2vh;*/
    }
    .instructions .points{
      padding-left: 2vh;
      padding-top: 1vh;
    }
    .instructions .gif{
      width: 40vh;
      margin: auto;
      left: 50%;
      border-width: 1em;
      border-color: var(--color-three);
    }
    /* Last Slide */
    .instructions .supertitle{
/*      font-size: 60px;
      font-weight: 800;
      float: none;
      text-align: center;
      display: block;*/
    }
    .instructions #tutorial-subtitle{
/*      font-size: 25px;
      font-weight: 400;
      float: none;
      text-align: center;
      display: block;*/
    }
    .superlogo{
      width: 20vh !important;
      border: 0em solid var(--color-three) !important;
    }
    #show-tutorial-again{
/*      font-size: 18px;*/
    }
}
@media (min-width: 700px){
  .instructions{
   /* font-size: 28px;*/
    height: 94.5vh;
  }
    .instructions .header{
      /*font-size: 36px;*/
    }
      .instructions .header .slide{
/*        padding-left: 5vw;
        font-size: 36px;
        text-align: right;*/
      }
    .instructions .title{
/*      font-size: 32px;
      padding-left: 2vh;*/
    }
    .instructions .points{
      padding-left: 2vh;
      padding-top: 1vh;
    }
    .instructions .gif{
      width: 40vh;
      margin: auto;
      left: 50%;
      border: 0.1em solid var(--color-three);
    }
    /* Last Slide */
    .instructions .supertitle{
/*      font-size: 110px;
      font-weight: 800;
      float: none;
      text-align: center;
      display: block;*/
    }
    .instructions #tutorial-subtitle{
/*      font-size: 45px;
      font-weight: 400;
      float: none;
      text-align: center;
      display: block;*/
    }
    .superlogo{
      width: 20vh !important;
      border: 0em solid var(--color-three) !important;
    }
    #showTutorial{
      zoo
    }
    #show-tutorial-again{
     /* font-size: 28px;*/
    }
}
@media (min-width: 1000px){
  #show-tutorial-again{
/*    font-size: 36px;*/
  }
}


#tutorial-body{
  overflow: scroll;
}

.icon-in-tutorial{
  height:4vh;
  width: auto;
  margin: auto;
  object-fit: contain;
  border-style: dashed;
  vertical-align: middle;
}
.ball-icon{
  height:4vh;
  width: auto;
  margin: auto;
  object-fit: contain;
}
.header-row{
  width: 100vh;
}
#tutorial-bullet-points{
  line-height: 5vh;
}
#row-buttons-tutorial{
  width: 100vh;
}
/*.instructions .modal-footer{
  height: 8vh;
}
.instructions .modal-footer .tutorial-button{
  height: 6vh;
  width: 12vh;
  border-radius: 1vh;
}*/
#button-back{
  float: left;
  margin-left: 5vh;
}
#button-forward{
  float: right;
  margin-right: 5vh;
}
.arrow-tutorial{
  width:8vh;
  height: 3vh;
}

.superlogo{
  padding-top: 2vh;
}


#show-tutorial-again{
  width: 90%;
  margin: auto;
}
#show-tutorial-again .row{
  padding-top: 2vh;
}

.instructions .supertitle{
  font-size: 1.5em;
}

#disclaimer{
  padding-top: 2vh;
  margin-bottom: 6vh;
}
#disclaimer-title{
  margin-top: 3vw;
  margin: auto;
  text-align: center;
  font-weight: bolder;
}
#disclaimer-content{
  text-align: justify;
  margin-right: 4vw;
  margin-left: 4vw;
}



/*  */
