@media (max-width: 500px){
  .modal-title{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    /*text-decoration: underline;*/
  }
}
@media (min-width: 500px){
  .modal-title{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    /*text-decoration: underline;*/
  }
}
@media (min-width: 900px){
  .modal-title{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    /*text-decoration: underline;*/
  }
}


#openSettingsPopup{
  margin: auto;
  min-height: 60vh;
  max-height: 100vh;
}
#openSettingsPopup .modal-content{
  margin: auto;
  min-height: 60vh;
  max-height: 100vh;
}

@media (max-width: 500px){
  #openSettingsPopup .form-group{
    margin-bottom: 0 !important;
  }
/*  .settings-section-title{
    font-size: 1.5em;
  }*/
  input[type=checkbox] {
      zoom: 1.8;
  }
/*  #openSettingsPopup hr{
    margin: 2vh
  }*/
  .title-aux{
    display: none;
  }
  .settings-long-slider{
    padding-top: 1vh;
    margin: auto;
    width: 80%;
  }
/*  .danger-button{
    height: 4vh;
    font-size: 1em;
  }
  #openSettingsPopup .subtitle{
    font-size: 1.2em;
  }
  #openSettingsPopup .sub-subtitle{
    font-size: 1em;
  }*/
}
@media (min-width: 500px){
/*  .settings-section-title{
    font-size: 1.8em;
    padding-bottom: 2vh;
  }*/
  input[type=checkbox] {
      zoom: 2.5;
  }
  .title-aux{
    display: none;
  }
  .settings-long-slider{
    padding-top: 1vh;
    margin: auto;
    width: 80%;
    padding-bottom: 2vh;
  }
/*  .danger-button{
    height: 120%;
    font-size: 1.5em;
  }
  #openSettingsPopup .subtitle{
    font-size: 1.5em;
  }
  #openSettingsPopup .sub-subtitle{
    font-size: 1.2em;
  }*/
}
@media (min-width: 900px){
  input[type=checkbox] {
      zoom: 2.5;
  }
  .title-aux{
    display: none;
  }
  .settings-long-slider{
    padding-top: 1vh;
    margin: auto;
    width: 80%;
    padding-bottom: 2vh;
  }
/*  .danger-button{
    height: 120%;
    font-size: 1.8em;
  }
  #openSettingsPopup .subtitle{
    font-size: 1.8em;
  }
  #openSettingsPopup .sub-subtitle{
    font-size: 1.5em;
  }*/
}

#openSettingsPopup .button-col{
  margin: auto;
}

.danger-buttons{
  padding-top: 1vh;
  margin: auto;
}

#openSettingsPopup .subtitle{
  font-size: 1.2em;
}
#openSettingsPopup .sub-subtitle{
  font-size: 1em;
}

.regular-button{
  font-size: 1em;
  background-color: white;
}


.checkbox-text{
  padding-left: 5vh;
}

.form-check-input{
  margin: 0 0 0 0 !important;
}

hr{
  color: white;
  border-color: white;
}
