/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  font-family: Verdana;

}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    /*-webkit-text-size-adjust: none;   */          /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
 /*   background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;*/
	height:100vh;
	min-height:100vh;
}

/* Portrait layout (default) */
.app {
    background-color: black;
    /* background:url(../img/logo.png) no-repeat center top;*/ /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
   /* left:50%;
    top:50%;*/
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
   /* padding:180px 0px 0px 0px; */    /* image height is 200px (bottom 20px are overlapped with text) */
   /* margin:-115px 0px 0px -112px; */ /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
      /*  padding:75px 0px 75px 170px; */ /* padding-top + padding-bottom + text area = image height */
      /*  margin:-90px 0px 0px -198px; */  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

:root {
  --color-one: #343A40; /* Navbar, modal-headers */
  --color-two: #000000; /* App background */
  --color-three: #FFFFFF; /* Modals background */
  --color-four: #119DA4;
  --color-five: #0C7489;
}

/*h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}*/

 .navbar {
        position: fixed;
        width: 100%;
        max-height: 5vh;
 }

 nav{
   height: 5vh;
 }

 .nav-item{
    max-height: 5vh;
    padding: 0 0 0 0 !important;
 }

 .nav-item-icon{
    height: 3vh;
    width: auto;
    object-fit: contain;
 }

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*.nav-link {
	width:15%;
	background-color: black;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:4vw;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.nav-link :hover {
	background-color:#5cbf2a;
}
.nav-link :active {
	position:relative;
	top:1px;
}
*/

.court{
    position: absolute;
    top: 5vh;
    height: 90vh;
    /*bottom: 5vh;*/
    /*position: relative;
    height: 100%;*/
    width: 100vw;
    background-color: black;
    z-index: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.court-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.players{
    background-size: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    font-size: 5vw;
    vertical-align: middle;
    text-align: center;
    /*transform: scale(0.8);*/
    font-weight: bold;
}

.players-content{
    margin-bottom:0px;
    margin-top:100%;
   /* font-size: 5vw;*/
}

.player-Full-stop{
    height: 5vh;
    width: 5vh;
    border: 0.8vw solid;
    box-shadow: '0px 0px';
    transform: rotate(0deg);
    font-size: 3.5vw;
    /*transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
}

.player-Full-drag{
    height: 5.5vh;
    width: 5.5vh;
    border: 0.8vw solid;
    box-shadow: '7px 7px 2px 2px grey';
    transform: rotate(0deg);
    font-size: 3.5vw;
}

.player-HalfVert-stop{
    height: 6vh;
    width: 6vh;
    border: 0.9vw solid;
    box-shadow: '0px 0px';
    transform: rotate(0deg);
    font-size: 4.5vw;
    /*transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
}

.player-HalfVert-drag{
    height: 7vh;
    width: 7vh;
    border: 0.9vw solid;
    box-shadow: '7px 7px 2px 2px grey';
    transform: rotate(0deg);
    font-size: 4.5vw;

}

.player-HalfHoriz-stop{
    height: 6.5vh;
    width: 6.5vh;
    border: 0.95vw solid;
    box-shadow: '0px 0px';
    transform: rotate(90deg);
    font-size: 5vw;
/*    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);  */
}

.player-HalfHoriz-drag{
    height: 7.5vh;
    width: 7.5vh;
    border: 0.95vw solid;
    box-shadow: '7px 7px 2px 2px grey';
    transform: rotate(90deg);
    font-size: 5vw;

}

a.disabled{
    pointer-events: none;
    opacity: 0.1;
}

.playerArrowsLine{
    background-color:darkgreen;
    background-size: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    height: 1vh;
    width: 1vh;
    font-size: 5vw;
    vertical-align: middle;
    text-align: center;
    transform: scale(0.8);
    font-weight: bold;
}

.playersArrowText{
    margin-bottom:0px;
    margin-top:100%;
    font-size: 5vw;
}

.arrowCanvas{
    position:absolute;
    background-color: none;
    top: 0;
    left:0;
    z-index: 1;
}

.arrowCanvasOutOfSight{
    position:absolute;
    background-color: none;
    top: 0;
    left:0;
    z-index: 1;
}

.arrowsOutOfSightteamA{
  z-index: 5;
  height: 8vh;
  width: 8vh;
  position: absolute;
}
.arrowsOutOfSightteamB{
  z-index: 5;
  height: 8vh;
  width: 8vh;
  position: absolute;
}

.ArrowOutOfSightImg{
    position: absolute;
    margin:auto;
    display:block;
    width: 15vh;
    height: auto;
}

#courtImage{
/*  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  margin-top: 30%;
  vertical-align: middle;*/
}

/*.teamA{
    background-color: #DDCB77;
    border: 1vw solid #E0492B;
    color: blue;
}

.teamB{
    background-color: white;
    border: 1vw solid black;
    color: black;
}*/


.ball{
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    height: 4vh;
    width: 4vh;
    transform: scale(0.8);
    background-color: black;
    border: 0.7vw solid grey;
    color: black;
}

.arrow{
  position: absolute;
  z-index: 5;
  height: 8vh;
  width: 8vh;
}

.arrowMove{
  position: absolute;
  z-index: 10;
  fill:orange;
}


.arrowText{
  font-size: 60%;
}



.substitution-players-list{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.same-position{
  font-weight: bold;
}


.team-logo{
  display: block;
  max-width: 7vh;
  max-height: 7vh;
    margin-left: auto;
    margin-right: auto;
   /* background-size: cover;
    background-size: contain;*/
}

.sub-player-pic{
  display: block;
  max-width: 10vh;
  max-height: 10vh;
    margin-left: auto;
    margin-right: auto;
   /* background-size: cover;
    background-size: contain;*/
}

#playerToBeSubstitutedName{
  font-size: 2em;
}

.team-name{
    font-size: 2em;
    position: absolute;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
}

.team-strategy{
    font-size: 1.2em;
    position: absolute;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.team-player-position{
    font-size: 1em;
    position: absolute;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
}

.team-player-number{
    font-size: 1em;
    position: absolute;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.team-settings-row{
    padding-top: 5%;
}

.team-circle{
/*    border-radius: 50%;*/
    border: 1vw solid;
    height: 3vw;
    width: 3vw;
}

.deleteEditPlayPopup{
  color: red;
}

#offensiveTeam{
    color: white;
    font-size: 0.8em;
/*    position: absolute;
    display: inline-block;
    text-align: center;*/
    vertical-align: middle;
    font-weight:bold;

}

.favoriteButton{
  /*border-color: yellow !important;
  background-color: #ffffba !important;*/
  border-width: 6px !important;
  font-weight: bold;
}


#addTacticToFavorites{
  width: 38%;
  margin-right: 3.5%;
  color: black;
}


#snapshotDisplay{
  color: white;
  font-weight: bold;
  font-size: 3vw;
  vertical-align: middle;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.playAttribute{
  word-wrap: break-word;
  text-align: center;
  padding-left: 0.1rem !important;
  padding-right: 0.1rem !important; 
}

.open-play-table-header{
  font-weight: bold;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
}
#text-no-plays-device{
  padding-top: 0.5rem;
}


#favPlaySaved{
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}


#removeFromFavorites{
  float: right;
}

#infoCreateNewPlay{
  font-size: 1.25em;
  color: red;
}

#infoEditPlay{
  font-size: 1.25em;
  color: red;
}

.line-offDef{
  transform-origin: 0 100%;
  height: 30px; /* Line width of 3 */
  background: "yellow"; /* Black fill */
  z-index: 10;
}


.text-input-custom{
  margin-left: 5%;
}

.modal{
  content: "fullscreen: true";
}

.CropLongTexts {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
}

/* Might need to be discussed */
@media (min-width: 576px){
.modal-dialog {
    max-width: 75% !important;
  }
}

@media (max-width: 600px){
/*  .img-strategy{
    max-width: 5vh !important;
  }*/
  .favButtons, .openPlayPopupOff, .openPlayPopupDef, .img-strategy{
    display:none !important;
  }
}

.offStrategyRadio, .defStrategyRadio{
  min-width: 10vh;
}

.modal-header{
  background-color: var(--color-five);
}

.modal-body, .modal-footer{
  background-color: var(--color-one);
  color: var(--color-three);
  margin-bottom: 0px !important;
  font-size: 1em;
}

.modal-footer-container{
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.btn-primary{
  background-color: var(--color-four) !important;
  border-color: var(--color-four) !important;
}

.btn-link, .btn-secondary{
  border-color: white !important;
  background-color: white !important;
  color: black !important;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 2vh 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.8vh;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 0.1vh;
  border: 0px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(13, 13, 13, 0.29);
  border: 0vh solid #000000;
  height: 4vh;
  width: 4vh;
  border-radius: 4vh;
  background: var(--color-five);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2vh;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.8vh;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 0.2vh;
  border: 0vh solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(13, 13, 13, 0.29);
  border: 0vh solid #000000;
  height: 5vh;
  width: 5vh;
  border-radius: 5vh;
  background: rgba(72, 115, 106, 0.99);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0.8vh;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fcfcfc;
  border: 0vh solid #000000;
  border-radius: 0.3vh;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0vh solid #000000;
  border-radius: 0.3vh;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(13, 13, 13, 0.29);
  border: 0vh solid #000000;
  height: 5vh;
  width: 5vh;
  border-radius: 5vh;
  background: rgba(72, 115, 106, 0.99);
  cursor: pointer;
  height: 0.8vh;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}


/**/
