.arrow-button{
  background-color: transparent;
}

.arrow-button-area{
  padding-left: 20%;
}

.pad10{
  padding-left: 10%;
}

.pad6{
  padding-left: 6%;
}

.rotate180{
  transform: rotate(180deg);
}

.team-img{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%
}
